header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    nav {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        a {
            font-size: 40px;
            color: black;
            position: absolute;
            left: 15px;
        }
        h1 {
            font-family: 'Shrikhand', cursive;
            font-size: 50px;
            text-align: center;
        }
    }
}

footer {
    width: 100%;
    padding: 20px 15px;
    background-color: rgb(53, 53, 53);
    color: white;
    h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        padding-bottom: 20px;
        @include responsive ('tablette') {
            text-align: center;
        }
    }
    ul {
        @include responsive('tablette') {
            display: flex;
            flex-direction: row;
            justify-content: center;
            max-width: 1400px;
            margin: auto;
          }

    }
    ul li {
        list-style: none;
        padding: 5px 0;
        @include responsive('tablette') {
            padding: 5px 45px;
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.bouton_principal {
    width: auto;
    height: auto;
    background: linear-gradient(to top,$couleur-primaire, $couleur-secondaire);
    box-shadow: 7px 7px 5px #b7b7bd;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    &:hover {
        background: linear-gradient(to top,lighten($couleur-primaire,5%),lighten($couleur-secondaire,5%));
        box-shadow: 10px 7px 5px (darken(#b7b7bd,15%));
    }
}