*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "./variables";
@import "./placeholders";
@import "./mixins";
@import "./layouts";

html {
    font-family: 'Roboto', sans-serif;
}

 .container {
     height: auto;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

main {
    width: 100%;
 }

.localisation {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,grey 0%,$couleur-localisation 10%);
    padding: 15px 0;

}


input::placeholder {
    color: black;
  }

::-moz-placeholder {
    opacity: 1; /*pour passer le txt en noir sur firefox ! */
  }

  input[type=search] {
    border: none;
    width: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 120px;
    background-color: $couleur-localisation;
  }

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $couleur-bg;
    justify-content: flex-start;
    padding: 25px 5px;
    height: 200px;
    justify-content: space-around;
    a {
        width: auto;
        height: auto;
        padding: 20px;
        background: linear-gradient(to top,$couleur-primaire, $couleur-secondaire);
        border-radius: 30px;
        color: white;
        filter: drop-shadow(5px 5px 4px #86868f);
        cursor: pointer;
        text-decoration: none;
        &:hover {
            background: linear-gradient(to top,lighten($couleur-primaire,5%),lighten($couleur-secondaire,5%));
            filter: drop-shadow(7px 7px 5px darken(#86868f,15%));
        }
    }
}

.etapes {
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
    margin-left: 15px;
    flex-wrap: wrap;
    @include responsive('tablette') {
      align-items: center;
    }
    @include responsive('bureau') {
      flex-direction: row;
      justify-content: space-around;
      max-width: 1400px;
      margin: auto;
    }
    &__bouton {
        display: flex;
        cursor: pointer;
        align-items: center;
        background: $couleur-bg;
        width: 310px;
        height: auto;
        padding: 20px 0px;
        border-radius: 20px;
        position: relative;
        margin-top: 15px;
        filter: drop-shadow(2px 2px 4px #86868f);

        .puce {
            position: absolute;
            
            margin-right: 15px;
            background: $couleur-primaire;
            color: white;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center; /*centrer horizontalement dans la puce*/
            padding-top: 3px; /*centrer verticalement dans la puce*/
            left: -10px;
        }

        i {
            display: inline-block;
            padding-left: 25px;
            padding-right: 15px;
            font-size: 20px;
            color: #86868f;
            
        }

        &:hover {
            background-color: rgb(245, 237, 255);
            filter: drop-shadow(7px 7px 5px darken(#86868f,15%));
            i {
                color: $couleur-primaire;
            }
        }

    }
}

.etapes h2 {
    padding-bottom: 10px;
    @include responsive('bureau') {
      flex-basis: 100%;
      text-align: center;
    }
}

#restaurants {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background-color: $couleur-bg;

    h2 {
        align-self: flex-start;
        padding-bottom: 15px;
        margin-left: 15px;
        @include responsive('tablette') {
          align-self: center;
          flex-basis: 100%;
        }
        
    }
}

.restaurants__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include responsive('bureau') {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
}

.carte-resto {
    width: 90%;
    max-width: 500px;
    height: 275px;
    text-decoration: none;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
    
    &__image {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 15px 15px 0 0 ;
    }
    &__texte {
        display: flex;
        height: 75px;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: black;
        padding-left: 15px;
        position: relative;
    }
    &:hover {
        filter: drop-shadow(7px 7px 5px darken(#86868f,15%));
    }
}

.carte-resto a {
    text-decoration: none;
    position: relative;
    .nouveau {
        position: absolute;
        display: inline-block;
        right: 15px;
        top: 15px;
        background-color: rgb(153, 226, 208);
        color: rgb(0, 135, 102);
        padding: 5px;
        border-radius: 2px;
        
    }
}



.carte-resto__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
  
  .carte-resto__texte .fa-solid {
    position : absolute;
    font-size: 20px;
    background: linear-gradient($couleur-primaire, $couleur-secondaire);
    color : transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transform-origin : 50% 100%;
    transform: scale(0);
    transition : all ease-in-out 0.5s;
    right: 20px;
    top: 25px;
  }
  
  .carte-resto__texte .fa-regular {
    position : absolute;
    font-size: 20px;
    right: 20px;
    top: 25px;
  }
  
  .carte-resto__texte .fa-regular:hover +.fa-solid {
    -webkit-transform: scale(1);
      transform: scale(1);
  }


.load {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 3;
    animation: disparition 0s linear 3s 1 forwards;
}


  

  .orbit-spinner {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    perspective: 800px;
    z-index: 3;
  }

  .orbit-spinner .orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    
  }

  .orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 3s linear 0s 1 forwards;
    border-bottom: 10px solid $couleur-primaire;

  }

  .orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 3s linear 0s 1 forwards;
    border-right: 10px solid $couleur-secondaire;
  }

  .orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 3s linear 0s 1 forwards;
    border-top: 10px solid $couleur-tertiaire;
  }

  @keyframes orbit-spinner-orbit-one-animation {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    49.999% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      opacity: 0.75;
    }
    50% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      opacity: 0.5;
      }
    100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    opacity: 0;
    }
  }

  @keyframes orbit-spinner-orbit-two-animation {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    49.999% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      opacity: 0.75;
    }
    50% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      opacity: 0.5;
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      opacity: 0;
    }
    
  }

  @keyframes orbit-spinner-orbit-three-animation {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    49% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      opacity: 0.75;
    }
    50% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      opacity: 0.5;
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      opacity: 0;
    }
  }

  /*header, main, footer {
    //animation: opacity 3s 0s ease-in forwards;
    //animation: flou 3s 0s ease-in forwards;
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }*/

  .fond-loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    animation: flou 3s 0s ease-in forwards;
  }

  @keyframes flou {
    0% {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
    99% {
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-100vw);
    }
  }

  @keyframes disparition {
    from {
      transform: translateX(0vw);
    }  
    to {
      transform: translateX(-100vw);
    }
  }


  