*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "./variables";
@import "./placeholders";
@import "./mixins";
@import "./layouts";

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position1 {
  animation: apparition 0.5s linear 0.5s forwards;
  //animation: name duration timing-function delay iteration-count direction fill-mode;

}

.position2 {
  animation: apparition 0.5s linear 0.6s forwards;

}

.position3 {
  animation: apparition 0.5s linear 0.7s forwards;

}

.position3bis {
  animation: apparition 0.5s linear 0.8s forwards;
}

.position4 {
  animation: apparition 0.5s linear 1.0s forwards;

}

.position5 {
  animation: apparition 0.5s linear 1.1s forwards;

}

.position6 {
  animation: apparition 0.5s linear 1.2s forwards;

}

.position7 {
  animation: apparition 0.5s linear 1.5s forwards;

}

.position8 {
  animation: apparition 0.5s linear 1.6s forwards;

}

.position9 {
  animation: apparition 0.5s linear 1.7s forwards;

}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

main {
    width: 100%;
    background-color: $couleur-bg;
    border-radius: 150px 150px 0 0;
    .image-fond {
        width: 100%;
        height: 400px;
        object-fit: cover;
        // z-index: -1;
    }
    .zone-text {

        // border-radius: 50px 50px 0 0;
        // z-index: 1;
        // position: absolute;
        width: 100%;
        margin-top: -50px;
        
        // padding: 35px;
        
    }
}

h2 {
    font-family: 'Shrikhand', cursive;
    padding-bottom: 30px;
    @include responsive('bureau') {
      margin-left: 50px;
    }
}

.menu-titre {
    position: relative;
    padding-top: 25px;
    border-radius: 50px 50px 0 0;
    background-color: $couleur-bg;
    padding-left: 15px;
    width: 100%;
    //width: 95%; pour grands formats
    margin: auto;
    @include responsive('tablette') {
      width: 95%;
      max-width: 1400px;
    }

    .fa-solid {
        position : absolute;
        font-size: 35px;
        background: linear-gradient($couleur-primaire, $couleur-secondaire);
        color : transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transform-origin : 50% 100%;
        transform: scale(0);
        transition : all ease-in-out 0.5s;
        right: 25px;
        top: 25px;
        @include responsive('bureau') {
          margin-right: 50px;
        }
      }
      
      .fa-regular {
        position : absolute;
        font-size: 35px;
        right: 25px;
        top: 25px;
        @include responsive('bureau') {
          margin-right: 50px;
        }
      }
      
      .fa-regular:hover +.fa-solid {
        -webkit-transform: scale(1);
          transform: scale(1);
      }
}

.menu {
  @include responsive('bureau') {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    justify-content: flex-start;
    margin: 0 auto;  
  }
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: $couleur-bg;
    padding-left: 10px;
    @include responsive('tablette') {
      width: 95%;
      padding-left: 0;
    }
    @include responsive('bureau') {
      margin: 0 auto;
    }
}
h3 {
    position: relative;
    padding-bottom: 15px;
    @include responsive('tablette') {
      text-align: center;
    }
    &::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: $couleur-tertiaire;
    position: absolute;
    top: 25px;
    left : 0px;
      @include responsive('tablette') {
        left: 50%;
        transform: translateX(-50%);
      }
    }
}

.btn-avec-check {
    width: 90%;
    max-width: 300px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    filter: drop-shadow(2px 2px 4px #86868f);
  }

  .choix {
    display: inline-block;
    position: relative;
    transition: all 0.5s;
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: white;
    &__titre {
      min-width: 0;
      h4 {
      @extend %texte_tronqué;
      }
    }
    &__detail {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      text-overflow: ellipsis;
      &__accompagnement {
        min-width: 0;
        p {
          @extend %texte_tronqué;
        }
      }
    }
  }




.check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #99e2d0;
    color: white;
    background-color: #99e2d0;
    border-radius: 0 10px 10px 0;
    &__rotation {
      transform: rotate(-180deg);
      transition: transform 0.5s ease-in-out;
    }
  }


  .btn-avec-check:hover .choix{
    width: calc(100% - 50px);
    border-radius: 10px 0 0 10px;
  } 

  .btn-avec-check:hover .check__rotation{
    transform: rotate(0deg);
  }



#commande {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 25px;
    a{
        width: auto;
        height: auto;
        padding: 15px 45px;
        background: linear-gradient(to top,$couleur-primaire, $couleur-secondaire);
        border-radius: 30px;
        color: white;
        filter: drop-shadow(5px 5px 4px #86868f);
        cursor: pointer;
        text-decoration: none;
        &:hover {
            background: linear-gradient(to top,lighten($couleur-primaire,5%),lighten($couleur-secondaire,5%));
            filter: drop-shadow(7px 7px 5px darken(#86868f,15%));
        }
    }
}


 
  
  